@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
}

.body-wrapper {
  background-color: #1F1C1F;
  margin: 1rem 20rem;
  border-top: 5px solid rgb(236, 72, 153);
  border-radius: 10px;
}