@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #1e1f26, #000000);
  background-color: #ff0080;
  background-blend-mode: multiply;
}

.body-wrapper {
  background-color: #121212;
  margin: 1rem 10%;
  border-top: 0.4rem solid rgb(236, 72, 153);
  border-radius: 1rem;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.footer-wrapper {
  background-color: #000300;
  margin-top: 5rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: pink;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.sidebar-toggle:checked + .body-wrapper {
  margin-left: 0;
}

.sidebar-toggle:checked + .body-wrapper .sidebar {
  transform: translateX(-100%);
}



@media only screen and (max-width: 1024px) {
  .body-wrapper {
    margin: 1rem 5%;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .sidebar {
    display: block;
  }
  .logo {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .sidebar {
    display: none;
  }
  .logo {
    display: none;
  }
}