@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #1e1f26, #000000);
  background-color: #ff0080;
  background-blend-mode: multiply;
}

.body-wrapper {
  background-color: #121212;
  margin: 1rem 15rem 1rem 15rem;
  border-top: 0.4rem solid rgb(236, 72, 153);
  border-radius: 1rem;
}

.footer-wrapper {
  background-color: #000300;
  margin-top: 5rem;
}